<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container{
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .container button{
            margin: 30px;
            width: 150px;
            padding: 20px;
        }
    </style>

</head>

<body>
    <div class="container">
        <button>CAIXA</button>
        <button>ATENDIMENTO</button>
        <button>GERÊNCIA</button>
    </div>
</body>
</html>