<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="tv.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <title>Senhas TV</title>
  </head>
  <body>
    <main class="sistema_senhas">
      <div class="painel_lateral">
        <div class="itens_painel">
          <div class="nome_e_imagem">
            <img src="./img/logo_lateral.png" class="logo_credi" />
            <h1 class="titulos titulo_painel">ÚLTIMAS SENHAS</h1>
          </div>
          <div class="ultimas_senhas">
            <div class="ultima_senha">
              <div class="senha_card">
                <h2 class="titulos">SENHA</h2>
                <h2 class="numero_ultima_senha amarelo_sicoob">N001</h2>
              </div>
              <div class="guiche_card">
                <h2 class="titulos">GUICHÊ</h2>
                <h2 class="numero_ultimo_guiche amarelo_sicoob">02</h2>
              </div>
              <div class="hora_card">
                <h2 class="titulos">HORA</h2>
                <h2 class="hora_ultima_senha amarelo_sicoob">11:34</h2>
              </div>
            </div>
            <div class="ultima_senha">
              <div class="senha_card">
                <h2 class="titulos">SENHA</h2>
                <h2 class="numero_ultima_senha amarelo_sicoob">N001</h2>
              </div>
              <div class="guiche_card">
                <h2 class="titulos">GUICHÊ</h2>
                <h2 class="numero_ultimo_guiche amarelo_sicoob">02</h2>
              </div>
              <div class="hora_card">
                <h2 class="titulos">HORA</h2>
                <h2 class="hora_ultima_senha amarelo_sicoob">11:34</h2>
              </div>
            </div>
            <div class="ultima_senha">
              <div class="senha_card">
                <h2 class="titulos">SENHA</h2>
                <h2 class="numero_ultima_senha amarelo_sicoob">N001</h2>
              </div>
              <div class="guiche_card">
                <h2 class="titulos">GUICHÊ</h2>
                <h2 class="numero_ultimo_guiche amarelo_sicoob">02</h2>
              </div>
              <div class="hora_card">
                <h2 class="titulos">HORA</h2>
                <h2 class="hora_ultima_senha amarelo_sicoob">11:34</h2>
              </div>
            </div>
            <div class="ultima_senha">
              <div class="senha_card">
                <h2 class="titulos">SENHA</h2>
                <h2 class="numero_ultima_senha amarelo_sicoob">N001</h2>
              </div>
              <div class="guiche_card">
                <h2 class="titulos">GUICHÊ</h2>
                <h2 class="numero_ultimo_guiche amarelo_sicoob">02</h2>
              </div>
              <div class="hora_card">
                <h2 class="titulos">HORA</h2>
                <h2 class="hora_ultima_senha amarelo_sicoob">11:34</h2>
              </div>
            </div>
          </div>
          <div class="informacoes_gerais">
            <div class="cidade_e_clima">
              <div class="cidade">
                <h2>Presidente Prudente</h2>
              </div>
              <div class="clima">
                <h2>22°C</h2>
              </div>
            </div>
            <div class="data_e_hora">
              <div class="data">
                <h2>
                  <i class="fa-regular fa-calendar" style="color: #083947"></i>
                  23/04/2024
                </h2>
              </div>
              <div class="hora">
                <h2>
                  <i class="fa-regular fa-clock" style="color: #083947"></i>
                  11:35:01
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="senha_e_video">
        <div class="senha">
          <div class="senha_atual">
            <p class="titulos fonte_maior_1">SENHA</p>
            <p class="numero_ultima_senha amarelo_sicoob fonte_maior_2">N001</p>
          </div>
          <img src="./img/logo_topo.png" class="logo-topo-1" />
          <div class="traco_central"></div>
          <div class="guiche_atual">
            <p class="titulos fonte_maior_1">GUICHÊ</p>
            <p class="numero_ultimo_guiche amarelo_sicoob fonte_maior_2">02</p>
          </div>
          <img src="./img/logo_topo.png" class="logo-topo-2" />
        </div>
        <div class="video">
          <div class="faixa-amarela"></div>
          <video
            src="./img/video.mp4"
            autoplay
            muted
            controls
            loop
            class="video_credi"
            width="100%"
          ></video>
        </div>
      </div>
    </main>
  </body>
</html>