*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin: 20px;
}


.custom-btn {
    width: 130px;
    height: 40px;
    color: #ffff;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;

    background: #e0e0e0;
    box-shadow: 6px 6px 12px #cecece,
        -6px -6px 12px #f2f2f2;
    outline: none;
}


.btn-5 {
    width: 160px;
    height: 60px;
    /* line-height: 42px; */
    padding: 10px;
    border: none;
    background: linear-gradient(185deg, #5cf81e, #00ae9d);
    box-shadow: 6px 6px 12px #cecece,
        -6px -6px 12px #f2f2f2;
}

.btn-5:hover {
    color: #00ae9d;
    background: transparent;
    box-shadow: none;
}

.btn-5:before,
.btn-5:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #00ae9d;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
}
